body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.wahid{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.text-size{
    width: 50%;
    padding-left: 2%;
}
.text-size img{
    width: 80%;
}
.bottom1{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-bann{
    background-image: url(images/top-banner\ -\ Copy\ \(2\)\ \(1\).jpg);
}
.text-size01 img{
    width: 75%;
}
.text-size01{
    width: 53%;
}
.dreem-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}